﻿@charset "utf-8";
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}
body{font-size:12px;color:#666666; background-color:#fff;font-family:Tahoma,Geneva,sans-serif,'宋体';}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0}
*+html img{-ms-interpolation-mode:bicubic}
.clearboth{ clear:both;}
ul,ol{list-style:none}
fieldset,img{border:0}
address,cite,dfn,em,var{font-style:normal}
strong,.fcu{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
button,.fhand{cursor:pointer}
button,input,select,textarea{font-size:100%;}
html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true)}(this))}


.clear_0 {padding:0px 0px 0px 0px; clear:both;}
.clear_1 {padding:5px 0px 5px 0px; clear:both; margin:0px;}
.clear_2{ height:145px; clear:both; margin:0px;}

/* ----- Links ----- */
a {text-decoration:none;color:#666;}
a:hover {color:#2f9def; text-decoration:none;}


/* ----- top ----- */
#header{ width:100%; height:229px;}
.top{ width:100%; height:34px; line-height:34px; background:#f2f2f2; border-bottom:1px solid #dfdfdf;}
.topT{ width:1002px; height:34px; margin:0 auto;}
.loginh{ float:left;}
.loginh a{ font-size:12px; color:#666666; padding-right:20px;}
.loginh a:hover,.loginh a.on{ color:#2f9def; text-decoration:none;}
.time{ float:left; padding-right:20px;}
.weather{ float:left;}
.set{ float:right;}
.set a{ font-size:12px; color:#666; padding-left:30px;}
.set a:hover{ color:#2f9def; text-decoration:none;}
.topM{ width:1002px; height:55px; margin:30px auto;}
.topM .logo{ float:left;}

/***search home***/
.searchbox{float:left; width:429px;height:55px; margin-left:90px;}
.search_box { float:left; width:429px;height:35px;background:#2f9def url(../images/bg.png) no-repeat -297px -415px;padding-left:3px;display:inline;}
.search {width:429px;margin:0px;line-height:24px;height:24px;}
.search a {text-decoration:none;cursor:pointer;}
.search input {float:left;}
.select {background:#fff url(../images/bg.png) no-repeat 76px 15px;border:0;border-right:solid 2px #fff;width:82px;height:29px;color:#666;line-height:34px;padding-left:8px;float:left;position:relative;z-index:99999;font-size:14px;margin-top:3px;}
.select_hover {background:#fff url(../images/bg.png) no-repeat 76px -5px;border-right:solid 2px #2f9def;}
.part {left:-3px;top:29px;width:180px;padding:4px 1px 1px;background:#fff url(../images/select_topbg.png) no-repeat left top;border:solid 3px #2f9def;border-top:0;line-height:34px;position:absolute;z-index: 9999;height:auto;zoom:1;-moz-border-radius:0px 0px 3px 3px;-webkit-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;}
.part p {overflow:hidden;}
.part p a {height:30px;color:#666;line-height:30px;padding-left:8px;width:82px;border-left:solid 1px #f3f3f3;border-top:solid 1px #f3f3f3;background:#fff;display:inline-block;float:left;margin-left:-1px;margin-top:-1px;white-space:nowrap;}
.part a:hover {background:#f5f5f5;color:#2f9def;}
.enter {border:0;width:248px;float:left;height:29px;color:#999;line-height:29px;padding-left:5px;margin-top:3px;font-size:14px;outline:none;}
.enters {border:0;width:248px;float:left;height:29px;color:#333;line-height:29px;padding-left:5px;margin-top:3px;font-size:14px;outline:none;}
.sb {background:url(../images/bg.png) no-repeat -31px 0;border:0;width:84px;_width:81px;height:40px;cursor:pointer;}
.hotkeywords{ float:left; width:429px; height:20px; line-height:25px; color:#666; overflow:hidden;}
.hotkeywords a{color:#666; padding-right:15px;}
.hotkeywords a:hover{ color:#2f9def; text-decoration:none;}

/***导航home***/
.topB{ width:1002px; height:80px; margin:0 auto;}
.nav{ width:1002px; height:43px; background:#2f9def; border-top:1px solid #2086c9; border-bottom:1px solid #2086c9;}
.nav li{ width:91px; height:43px; line-height:43px; text-align:center; font-family:"微软雅黑"; font-size:15px; float:left;}
.nav li a{ display:block; color:#fff;}
.nav li a:hover,.nav li a.on{ background:#0b78c7; color:#fff;}
.city{ width:1002px; height:34px; line-height:34px; background:#f3f3f3; border-bottom:1px solid #dbdbdb;}
.city span{ color:#5a5a5a; font-weight:bold; padding-left:15px;}
.city a{ color:#666; padding:0px 5px;}
.city a:hover,city a.on{ color:#2f9def;}


/***main home***/
#container{ width:1002px; margin:0 auto; display:block; }
.left205{ width:205px; float:left; position:relative;}
.qqbg{ width:31px; height:35px; position: absolute; left:-30px; top:0px;}
.right775{ width:775px; float:right; overflow:hidden;}
.hylogoin{ width:205px; height:260px; background:#eeeeee; border-bottom:4px solid #bdbdbd;}
.memberh{ width:180px; height:225px; margin:0px auto;}
#registration {color: #666666; width:180px; height:130px; }
#registration fieldset { border:none;}
#registration fieldset p{background:#fff;}	  
input.text { border:none; font-size: 14px; width:130px; padding: 7px 8px 7px 40px; background:#fff; border:1px solid #e5e5e5; color:#666666;
      text-shadow:0px 1px 0px #FFF;}	  
input#password { background:url(../images/password.jpg) left center no-repeat; border:1px solid #e5e5e5; background-position:10px;}
input#name { background:url(../images/user.jpg) left center no-repeat;  background-position:10px; font-size: 14px; color:#666666;}
#registerNew { float:right; width: 65px; height: 28px; line-height:28px; border-bottom:3px solid #086cae; border-top:none; border-left:none; border-right:none;
	background:#2a95e3; font-size:14px; font-weight:bold; color:#fff; cursor: pointer; margin:5px 0px 0px 15px;}
#registerNew:hover { background:#086cae; border-bottom:3px solid #2a95e3; border-top:none; border-left:none; border-right:none; }
#registration p { position: relative; }
fieldset label.infield{color: #666666; position: absolute; text-align: left;  top: 3px !important; left: 35px !important; line-height: 29px; }
.wjmm{ margin-top:15px; display:block; background:url(../images/icon.jpg) left center no-repeat; padding-left:15px; float:left;}
.wjmm a{ color:#df1212;}
.wjmm a:hover{ color:#df1212; text-decoration:underline;}
.regbut{ width:180px; height:28px;}
.tjqy{ width:205px; height:475px; background:#f5f5f5; margin-top:15px; overflow:hidden;}
.news{ width:775px; height:262px;}
.newscenter{ width:375px; height:260px; border:1px solid #d8eeff; border-left:none; float:right; padding:0px 20px;}
.newscenter ul{ margin-top:20px;}
.newscenter li{ font-family:"宋体"; font-size:14px; color:#666666; height:30px; line-height:30px; overflow:hidden;}
.newscenter li a{color:#666666;}
.newscenter li a:hover{ color:#2f9def;}
/***广告***/
.ad{ width:1002px; margin:10px auto;}

/***广告之窗home***/
.adwindows{ width:205px; height:400px; background:#f5f5f5; margin-top:15px; overflow:hidden;}
.picScroll-top{ margin:0 auto;  width:186px;  overflow:hidden; position:relative;}
.picScroll-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picScroll-top .hd .prev,.picScroll-top .hd .next{ display:block;  width:9px; height:5px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
			 cursor:pointer; background:url("../images/arrow.png") 0 -100px no-repeat;}
.picScroll-top .hd .next{ background-position:0 -140px;  }
.picScroll-top .hd .prevStop{ background-position:-60px -100px;  }
.picScroll-top .hd .nextStop{ background-position:-60px -140px;  }
.picScroll-top .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-top .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-top .hd ul li.on{ background-position:0 0; }
.picScroll-top .bd{ padding:10px;   }
.picScroll-top .bd ul{ overflow:hidden; zoom:1; }
.picScroll-top .bd ul li{ text-align:center; zoom:1; }
.picScroll-top .bd ul li .pic{ width:186px; height:80px; text-align:center; padding-bottom:6px;}
.picScroll-top .bd ul li .pic img{ width:186px; height:80px; display:block; }
.picScroll-top .bd ul li .title{ line-height:24px; }

/***首页切换***/
.adqh{ width:358px; height:262px; float:left;}

/***联系我们home***/
.contact{ width:185px; height:222px; background:url(../images/lxbg.jpg) no-repeat; margin-top:15px; padding:10px;}
.texth{ width:185px; height:35px; border-bottom:1px solid #d3d3d3; margin:0 auto;}
.texth1{ width:185px; height:35px; border-bottom:1px solid #d3d3d3; margin:0 auto;}
.font1{ font-size:13px; color:#3d3d3d; line-height:35px;}
.font2{ font-family:"Trebuchet MS"; font-size:12px; color:#2f9def; padding-left:5px; line-height:35px;}
.font3{ width:55px; float:left; display:block; font-size:13px; color:#3d3d3d; height:35px; line-height:35px;}
.font4{ width:125px; display:block; font-family:"Trebuchet MS"; font-size:12px; color:#2f9def; padding-left:5px; float:right;}

/***会员企业***/
.hycompany{ width:773px; height:39px; background:#eeeeee; border:1px solid #e7e7e7; margin:15px 0px 0px;}
.SelectBox{ background:url(../images/text_2.gif) no-repeat left top; width:355px; height:27px; padding-left:10px; position:relative; margin-left:15px; margin-top:6px; float:left;}
.SelectBox .SelectText{ display:block; background:url(../images/icon4.gif) no-repeat right center; height:27px; line-height:27px; cursor:pointer;}
.SelectBox .SelectList{ position:absolute; left:0px; top:27px; width:363px; border:1px solid #D3D3D3; border-top:0px; background:#fff; display:none; z-index:999;}
.SelectBox .SelectList dt{ display:block; cursor:pointer;}
.SelectBox .SelectList dt a{ padding:0 10px; display:block; height:23px; line-height:23px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.SelectBox .SelectList dt a:hover{ background:#8E8E8E; color:#fff;}

.SelectBox1{ background:url(../images/text_5.gif) no-repeat left top; width:171px; height:27px; padding:0 10px; position:relative; margin-left:15px; margin-top:6px; float:left;}
.SelectBox1 .SelectText1{ display:block; background:url(../images/icon4.gif) no-repeat right center; height:27px; line-height:27px; cursor:pointer;}
.SelectBox1 .SelectList1{ position:absolute; left:0px; top:27px; width:180px; border:1px solid #D3D3D3; border-top:0px; background:#fff; display:none; z-index:999;}
.SelectBox1 .SelectList1 dt{ display:block; cursor:pointer;}
.SelectBox1 .SelectList1 dt a{ padding:0 10px; display:block; height:23px; line-height:23px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.SelectBox1 .SelectList1 dt a:hover{ background:#8E8E8E; color:#fff;}
.button{ width:61px; height:27px; float:left; margin-top:6px;}

/***信息***/
.con{ width:773px; margin:15px 0px; display:block; overflow:hidden;}
.column{ width:377px; height:220px; float:left;}

/***招聘信息***/
.joblist{ width:773px; height:235px; overflow:hidden;}
.tab1{ margin-top:10px;}
.pub_title td{ font-size:14px; color:#666666; font-weight:bold; line-height:35px; text-align:center; border:1px solid #ececec;}
.pub_con td{ font-size:14px; color:#666666; line-height:35px; text-align:center; border-bottom:1px dashed #dedede; border-left:1px solid #ececec; border-right:1px solid #ececec;}
.font_blue{ font-size:14px; color:#2f9def;}

/***电子期刊***/
.ebook{ margin-top:20px;}
.ebookimg{ width:115px; height:155px; border:1px solid #999b99; overflow:hidden; float:left;}
.ebookcon{ float:right; width:238px;}
.ebooktop{ width:238px; height:85px; overflow:hidden;}
.ebooktitle{ width:238px; height:25px; line-height:25px; font-size:16px; font-weight:bold; color:#444444; overflow:hidden;}
.aspect{ width:238px; height:56px; overflow:hidden;}
.aspect span{ display:block; width:36px; height:56px; line-height:20px; background:url(../images/icon5.jpg) top center no-repeat; font-size:13px; color:#2f9def; text-align:center; font-weight:bold;}
.aspect a.font5{ display:block; float:right; width:190px; height:56px; line-height:20px; font-size:12px; color:#666666; overflow:hidden;}
.review{ width:238px; height:70px; border-bottom:1px solid #2f9def; border-top:1px solid #2f9def;}
.review ul{ width:189px; height:56px; margin:7px 0px; background:url(../images/review.jpg) left center no-repeat; padding-left:49px; overflow:hidden;}
.review li{ width:47px; height:56px; margin:0px 6px; float:left; overflow:hidden;}
.review li img{ border:1px solid #dcdcdc;}

/***论坛社区***/
.ltsq{ width:773px; height:160px; margin:15px 0px;}
.ltcolumn{ width:378px; height:120px; margin-top:10px; float:left;}
.ltlm{width:75px; height:110px; margin-top:10px; float:left;}
.ltlm_logo{ width:75px; height:75px;}
.ltlm_title{ width:75px; height:30px; line-height:30px; font-size:14px; text-align:center;}
.ltlm_title a{ color:#53a5e0}
.ltlm_title a:hover{text-decoration:underline;}
.ltlm_title1{ width:75px; height:30px; line-height:30px; font-size:14px; text-align:center;}
.ltlm_title1 a{ color:#ba5bd2;}
.ltlm_title1 a:hover{text-decoration:underline;}
.ad1{ width:773px;}

/***title***/
.title{ height:40px; line-height:40px;}
.title h1{ font-family:"微软雅黑"; font-size:18px; color:#2f9def; line-height:40px; border-bottom:1px solid #d3d3d3;}
.title a{ font-size:12px; color:#2f9def; float:right;}
.title1{ height:35px; line-height:35px; border-bottom:1px solid #d3d3d3;}
.title1 h1{ font-family:"微软雅黑"; font-size:19px; color:#2f9def; padding-left:10px;}
.title1 span.change{ float:right; background:url(../images/icon2.jpg) right center no-repeat; padding-right:20px; margin-right:15px;}
.title1 span.change a{ color:#666;}
.title2 h1{ font-family:"微软雅黑"; font-size:19px; color:#2f9def; line-height:30px;}
.titlei_g{ height:35px; line-height:35px; border-bottom:1px solid #e6e6e6; border-left:none; font-family:"微软雅黑"; font-weight:normal;}
.titlei_g h2{ color:#3c3c3c; font-size:16px; font-weight:normal;}
.titlei_g h2 span{ display:block; width:108px; float:left; text-align:center;}
.titlei_g span.hover{ border-bottom:2px solid #2f9def;  width:108px;  color:#2f9def; font-weight:normal;}
.title3{ height:39px; line-height:39px; width:110px; float:left;}
.title3 h1{ font-family:"微软雅黑"; font-size:18px; color:#2f9def;  background:url(../images/icon3.jpg) left top no-repeat; padding-left:30px; margin-left:7px;}

.title4{ height:35px; line-height:35px; border-bottom:1px solid #d3d3d3;}
.title4 h1{ font-family:"微软雅黑"; font-size:19px; color:#2f9def;}
.title4 a.more{float:right; color:#ff882e; margin-right:10px;}

/***list***/
.list{ margin-top:20px;}
.list li{ width:90px; float:left; height:25px; line-height:25px; font-family:"宋体"; font-size:12px; color:#2f9def;}
.list li a{ color:#3e3e3e;}
.list li a:hover {color:#2f9def; text-decoration:none;}
.list1{ width:180px; margin:10px auto 0px; padding:0px;}
.list1 li{ background:url(../images/icon1.jpg) left center no-repeat; height:30px; line-height:30px; font-family:"宋体"; font-size:14px;}
.list1 li a{ padding-left:15px; color:#8f8f8f;}
.list1 li a:hover {color:#2f9def; text-decoration:none;}

.list2{ margin-top:10px;}
.list2 li{ height:30px; line-height:30px; font-size:14px; color:#666666;}
.list2 li a{ color:#666666;}
.list2 li a:hover{ color:#096ec2;}
.list2 li span{ float:right; font-size:14px;}

.list3 li{ height:30px; line-height:30px; font-size:14px; color:#666666;}
.list3 li a{ color:#666666;}
.list3 li a:hover{ color:#096ec2;}
.list3 li span{ float:right; font-size:14px;}

/***footer***/
#footer{ width:1002px; height:75px; background:#eeeeee; margin:15px auto 0px;}
.link{ margin:0 auto; text-align:center; font-size:13px; color:#797979; line-height:20px; padding-top:15px;}
.link a{ color:#797979;}
.link a:hover{ text-decoration:underline;}
.copyright{ padding-top:10px; font-size:13px; color:#797979; text-align:center;}

/***图片切换***/
.syFocusThumb IMG {BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; VERTICAL-ALIGN: top; BORDER-LEFT-STYLE: none}
.focusTit {BACKGROUND: url(../images/indexP1bg.png) no-repeat}
.focusNew .focusTab { BACKGROUND: url(../images/indexP1bg.png) no-repeat}
.syFocusThumb .prev { BACKGROUND: url(../images/indexP1bg.png) no-repeat}
.syFocusThumb .next {BACKGROUND: url(../images/indexP1bg.png) no-repeat}
.syFocusThumb .pagination I.selected IMG {BACKGROUND: url(../images/indexP1bg.png) no-repeat}
.syFocusThumb {POSITION: relative; WIDTH: 350px; BACKGROUND: #d7d7d7; HEIGHT: 260px; OVERFLOW: hidden}
.syFocusThumb .pagination {POSITION: absolute; TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: #d7d7d7; HEIGHT: 62px; COLOR: #fff; CLEAR: both; TOP: 200px; LEFT: 0px}
.syFocusThumb .pagination IMG {PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 8px}
.syFocusThumb .thumbWrap {POSITION: absolute; WIDTH: 312px; OVERFLOW: hidden; TOP: 4px; LEFT: 20px}
.syFocusThumb .thumbWrap IMG {-MS-INTERPOLATION-MODE: bicubic}
.syFocusThumb .holder {WIDTH: 4000px}
.syFocusThumb .holder I {CURSOR: pointer; MARGIN-RIGHT: 4px}
.syFocusThumb .prev {POSITION: absolute; WIDTH: 8px; BACKGROUND-POSITION: -616px -311px; HEIGHT: 40px; TOP: 12px; CURSOR: pointer; LEFT: 5px}
.syFocusThumb .next {POSITION: absolute; WIDTH: 8px; BACKGROUND-POSITION: -616px -311px; HEIGHT: 40px; TOP: 12px; CURSOR: pointer; LEFT: 5px}
.syFocusThumb .next {BACKGROUND-POSITION: -624px -311px; RIGHT: 5px; LEFT: auto}
.syFocusThumb .pagination I.selected IMG {PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND-POSITION: -632px -311px; PADDING-TOP: 8px}
.syFocusThumb .contentdiv {HEIGHT: 260px}WIDTH: 70px; HEIGHT: 40px;}

/* ----- qq ----- */

.SonlineBox{ width:94px; font-size:12px;overflow:hidden; z-index:9999;}
.SonlineBox .openTrigger{ width:30px; height:110px; position:absolute; top:0px;  z-index:1; cursor:pointer;  background:#0176ba url(../images/openTrigger.jpg) no-repeat;}
.SonlineBox .titleBox{ width:90px; height:35px; line-height:35px; background:#038bdc url(../images/SonlineTitleBg.gif) repeat-x; border-bottom:2px solid #0176ba;}
.SonlineBox .titleBox span{ margin-left:10px; color:#fff; font-size:14px; font-family:'微软雅黑','黑体';}
.SonlineBox .contentBox{ width:90px; height:auto; border:2px solid #0176ba; background:#fff; position:absolute; z-index:2;}
.SonlineBox .contentBox .closeTrigger{ width:25px; height:25px; display:block; cursor:pointer;  position:absolute; top:5px;right:5px;-webkit-transition:all 0.8s ease-out;}
.SonlineBox .contentBox .closeTrigger:hover{-webkit-transform:scale(1) rotate(360deg);}
.SonlineBox .contentBox .listBox{overflow:hidden; margin-bottom:10px;}
.SonlineBox .contentBox .listBox .QQList{ display:block; width:86%; height:22px; margin:10px auto 0px auto;}
.SonlineBox .contentBox .listBox .QQList span{float:left; line-height:22px;}
.SonlineBox .contentBox .listBox .QQList a{float:left;}